@model textoamp3.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó su contraseña? - ";
}

<h1>¿Olvidó su contraseña?</h1>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Especifique su correo electrónico.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "display:initial;" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br/>
            <input type="submit" class="btn btn-primary" value="Vínculo de correo electrónico" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
