@{
    ViewBag.Title = "Mis datos";
}
@{ if (TempData["msgKO"] != null)
    {
        <b style="background-color:salmon;">@TempData["msgKO"]</b>
    }
    if (TempData["msgOK"] != null)
    {
        <b style="background-color:lightgreen;">@TempData["msgOK"]</b>
    }
}
<form method="post" resource="~/Login/Data">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <h3>@(Session["email"] != null ? Session["email"] : "")</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Nombre:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input style="width:150px;" name="name" type="text" maxlength="31" value="@(Session["name"] != null ? Session["name"] : "")" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Antigua Contraseña:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input required style="width:200px;" name="oldPassword" type="text" maxlength="30" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Nueva Contraseña:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input required style="width:200px;" name="newPassword" type="password" maxlength="30" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Repita Nueva Contraseña:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input required style="width:200px;" name="newPassword2" type="password" maxlength="30" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br /><button class="btn btn-default" type="submit">Guardar cambios</button>
        </div>
    </div>
</form>

